.search-bar {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}

.search-bar__input {
  width: 100%;
  padding: 5px;
}

.product-table-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.category-row th {
  padding-top: 12px;
  padding-bottom: 6px;
}